* {
     box-sizing: border-box;
}
html {
     font-size: 62.5%;
}
body {
     font-size: 1.6rem;
     font-family: "Poppins", sans-serif;
     background: #fffaf5;
}
/* common */
.btn {
     --height: 5rem;
     color: #000958;
     font-family: Poppins;
     font-size: 1.4rem;
     font-style: normal;
     padding: 18px 32px;
     font-weight: 600;
     line-height: 1.4rem; /* 100% */
     border-radius: 2.5rem;
     border: 1px solid #000958;
     width: 11.7rem;
     height: var(--height);
     line-height: var(--height);
     flex-shrink: 0;
     text-decoration: none;
}
.btn:hover {
     opacity: 0.7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
     font-size: inherit;
     font-family: inherit;
}
.container {
     width: 1170px;
     max-width: calc(100% - 48px);
     margin: 0 auto;
}
/* header */
.header {
     padding-top: 44px;
     align-items: center;
}
.header__inner {
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.navbar__list {
     display: flex;
}
.navbar__link {
     text-decoration: none;
     padding: 8px 18px;
}
.navbar__link:hover {
     text-shadow: 1px 0 0 currentColor;
}
.navbar__items {
     color: #000958;
     font-family: Poppins;

     font-size: 1.4rem;
     font-style: normal;
     margin-left: 36px;
     font-weight: 600;
     line-height: 1.4rem; /* 100% */
}
.header-action__link {
     color: #000958;
     text-align: center;
     font-family: Poppins;
     font-size: 1.4rem;
     margin-right: 7px;
     font-style: normal;
     font-weight: 600;
     line-height: 1.4rem; /* 100% */
     text-decoration: none;
}
/* hero */
.hero__img {
     max-width: 100%;
     max-height: 100%;
     border-radius: inherit;
}
.hero__inner {
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.hero__img-wrap {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: flex-end;
     border-radius: 1.6rem;
     background: #fe997b;
     width: 38.8rem;
     height: 48.8rem;
     flex-shrink: 0;
     margin-top: 120px;
     border: 2px solid #fff;
}
.hero__decoration {
     position: absolute;
     z-index: -1;
}
.hero__decor--left {
     left: -58px;
     bottom: 10px;
}
.hero__decor--right {
     top: 16px;
     left: 380px;
}
.hero__media {
     padding-bottom: 94px;
     display: flex;
     position: relative;
}
.hero__img-wrap--small {
     margin: 0 0 -58px -24px;

     width: 186px;
     height: 244px;
     background: #faa7ad;
     align-self: flex-end;
     border: 2px solid #f7dddf;
}
.hero__list {
     position: absolute;
     left: 129px;
     bottom: 0px;
     width: 25rem;
     height: 15.6rem;
     flex-shrink: 0;
     border-radius: 1rem;
     padding: 18px 14px;
     background: #fff;
     box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero__item--title {
     color: #181e52;
     font-family: Sora;
     margin-left: 8px;
     margin-top: 20px;
     font-size: 1.4rem;
     font-style: normal;
     font-weight: 600;
     line-height: 1.4rem; /* 100% */
}
.hero__list--items {
     display: flex;
     margin-top: -20px;
}
.hero-list-item__thumb {
     object-fit: cover;
     margin-top: 18px;
}
.hero__list--skeleton {
     width: 11.8rem;
     height: 0.4rem;
     flex-shrink: 0;
     border-radius: 1rem;
     opacity: 0.08;
     background: #000958;
     margin-top: 7px;
     margin-left: 10px;
}
.br-list__items {
     width: 22.2rem;
     height: 0.2rem;
     margin: 20px 0;
     background: #f2f2f2;
}
.header__all {
     display: flex;
}
.hero__infors {
     margin-top: 200px;
     margin-left: 120px;
}
.hero_header {
     width: 51.7rem;
     color: #000958;
     font-family: Sora;
     font-size: 6.6rem;
     font-style: normal;
     font-weight: 800;
     line-height: 7.6rem; /* 115.152% */
}
.desc__hero {
     margin-top: 24px;
     margin-bottom: 38px;
     width: 39.1rem;
     color: #656689;
     font-family: Poppins;
     font-size: 1.6rem;
     font-style: normal;
     font-weight: 400;
     line-height: 3rem; /* 187.5% */
}
.cta__hero {
     display: flex;
     align-items: center;
}
.cta__hero--btn {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 18.9rem;
     height: 6rem;
     flex-shrink: 0;
     border-radius: 3.1rem;
     background: #ff5b2e;
     box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.cta__hero--call {
     color: #000958;
     text-align: center;
     font-family: Poppins;
     margin-left: 28px;
     font-size: 1.6rem;
     font-style: normal;
     font-weight: 500;
     line-height: 1.6rem; /* 100% */
     text-decoration-line: underline;
     text-decoration-style: solid;
     text-decoration-skip-ink: none;
     text-decoration-thickness: auto;
     text-underline-offset: auto;
     text-underline-position: from-font;
}
.btn-hero {
     text-decoration: none;
     background: inherit;
     border: none;
     color: #fff;
}
.skip__hero {
     margin-top: 5px;
}
/* about */
.about {
     margin-top: 207px;
}
.about__inner {
     display: grid;
     grid-template-columns: 1fr 1fr;
}

.about__heading {
     width: 44.6rem;
     color: #000958;
     margin-top: 15px;
     margin-bottom: 24px;
     font-family: Sora;
     font-size: 5.2rem;
     font-style: normal;
     font-weight: 700;
     line-height: 6.2rem; /* 119.231% */
}
.desc__about {
     width: 43.1rem;
     color: #656689;
     margin-bottom: 57px;
     font-family: Poppins;
     font-size: 1.6rem;
     font-style: normal;
     font-weight: 400;
     line-height: 3rem; /* 187.5% */
}

.about__checklist {
     display: grid;
     grid-template-columns: auto auto;
     gap: 40px;
     justify-content: flex-start;
}
.about__check-items {
     color: #48496a;
     font-family: Poppins;
     display: flex;
     align-items: center;
     margin-left: 35px;
     column-gap: 10px;
     font-size: 1.8rem;
     font-style: normal;
     font-weight: 500;
     line-height: 1.8rem; /* 100% */
}
.about__check-items::before {
     position: absolute;
     content: url(../img/stick.svg);
     margin-top: 12px;
     margin-left: -45px;
}
.about__card {
     position: absolute;
     align-items: center;
     align-content: center;
     text-align: center;
     width: 13.6rem;
     height: 15.6rem;
     flex-shrink: 0;
     border-radius: 1rem;
     background: #5bd6e2;
     box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}
.year {
     color: #fff;
     text-align: center;
     font-family: Sora;
     font-size: 4.2rem;
     font-style: normal;
     font-weight: 700;
     line-height: 4.2rem; /* 100% */
}
.year__desc {
     width: 8.3rem;
     color: #c6f4f9;
     text-align: center;
     font-family: Poppins;
     font-size: 1.4rem;
     margin-left: 27px;
     font-style: normal;
     font-weight: 400;
     line-height: 2rem; /* 142.857% */
}
.img__year {
     position: absolute;
     left: 86px;
     top: -39px;
}
.about__img--wrapper {
     position: relative;
     width: 49.4rem;
     height: 33.6rem;
     margin-left: 100px;
     margin-top: 130px;
     flex-shrink: 0;
     border-radius: 1.6rem;
     z-index: -1;
     background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}
.about__img--wrapper::after {
     position: absolute;
     content: "";
}
.img__about {
     object-fit: cover;
     margin-top: -194px;
     margin-left: 22px;
     border-radius: 12px;
     width: 45rem;
     height: 53rem;
     flex-shrink: 0;
     background: url(<path-to-image>) lightgray -254.571px -0.251px / 201.143%
          100.083% no-repeat;
}
.img__media--decor {
     position: relative;
     top: -370px;
     left: 500px;
     z-index: -2;
}

.img__about--2s {
     margin-top: 93px;
     margin-left: 0;
     width: 45.8rem;
     height: 50rem;
     flex-shrink: 0;
     background: skyblue;
}
.about__img--dogbig {
     position: absolute;
}
.decor1 {
     top: -70px;
     left: 390px;
     z-index: 1;
}
.decor2 {
     top: -610px;
     left: 300px;
     z-index: 1;
}
.decor3 {
     top: -570px;
     left: 280px;
     z-index: 1;
}
.decor4 {
     top: -580px;
     left: 180px;
     z-index: 1;
}
.decor5 {
     top: -320px;
     left: 250px;
     z-index: 1;
}
.decor6 {
     top: -260px;
     left: 160px;
     z-index: 1;
}
.contend__last {
     margin-top: 131px;
     margin-left: 78px;
}
.icon__talking {
     display: flex;
     justify-content: space-between;
     align-items: center;
     align-content: center;
}
.div__all--icon {
     position: relative;
     display: flex;
     cursor: pointer;
}

.img-talking {
     margin-top: -10px;
}
.haha {
     margin-top: -2px;
}
.hahaha {
     margin-top: -15px;
}

.Heading__talking {
     width: 543px;
     color: #000958;
     font-family: Sora;
     font-size: 5.2rem;
     font-style: normal;
     font-weight: 700;
     line-height: 6.2rem; /* 119.231% */
}
.desc__takling {
     color: #656689;
     width: 51.1rem;
     margin-top: 24px;
     margin-bottom: 55px;
     font-family: Poppins;
     font-size: 1.6rem;
     font-style: normal;
     font-weight: 400;
     line-height: 3rem; /* 187.5% */
     width: 51.1rem;
}
.heding__icon--talking {
     display: flex;
     align-items: center;
     justify-items: center;
     justify-content: center;
     text-wrap: nowrap;
     margin-bottom: 50px;
     color: #48496a;
     font-family: Sora;
     font-size: 1.8rem;
     font-style: normal;
     font-weight: 600;
     line-height: 1.8rem; /* 100% */
}
.img-talking {
     margin-bottom: 40px;
     margin-right: 10px;
}
.icon__talking {
     position: relative;
}
.icon__talking::before {
     position: absolute;
     content: "";
     top: 34px;
     width: 60rem;
     height: 0.2rem;
     opacity: 0.07;
     background: black;
}
.desc__small--icon {
     margin-bottom: 32px;
     width: 39.1rem;
     color: #656689;
     font-family: Poppins;
     font-size: 1.4rem;
     font-style: normal;
     font-weight: 400;
     line-height: 2.4rem; /* 171.429% */
}
.view-more {
     color: #ff5d31;
     font-family: Poppins;

     font-size: 1.6rem;
     font-style: normal;
     font-weight: 500;
     line-height: 1.6rem; /* 100% */
}
/* service */
.service .container {
     margin-left: 150px;
}
.service {
     margin-top: 150px;
     margin-left: -120px;
     background: #fff6ed;
     width: 144rem;
     height: 104.3rem;
     flex-shrink: 0;
     padding-top: 68px;
     padding-bottom: 100px;
}
.service-top__desc {
     margin-bottom: 15px;

     color: #5e6085;
     text-align: center;
     font-family: Sora;
     font-size: 1.6rem;
     font-style: normal;
     font-weight: 600;
     line-height: 1.6rem; /* 100% */
}
.service-top__heading {
     color: #000958;
     text-align: center;
     margin-bottom: 71px;
     font-family: Sora;
     font-size: 5.2rem;
     font-style: normal;
     font-weight: 700;
     line-height: 6.2rem; /* 119.231% */
}
.service-card {
     padding: 30px 30px;
     margin-bottom: 24px;
     width: 29.4rem;
     height: 20.8rem;
     flex-shrink: 0;
     border-radius: 1rem;
     border: 2px solid rgba(255, 188, 122, 0.26);
     background: #fff;
}
.service-card__heading {
     display: inline-flex;
     color: #000958;
     font-family: Sora;

     font-size: 2.2rem;
     font-style: normal;
     font-weight: 600;
     line-height: 2.2rem; /* 100% */
}
.service-card__heading::before {
     content: "";
     display: inline-block;
     margin-right: 12px;
     align-items: center;
     width: 0.2rem;
     height: 2.2rem;
     background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}
.service-card__desc {
     color: #656689;
     width: 24.4rem;
     margin-top: 18px;
     font-family: Poppins;

     font-size: 1.4rem;
     font-style: normal;
     margin-bottom: 24px;
     font-weight: 400;
     line-height: 2.4rem; /* 171.429% */
}
.service-card__button {
     display: inline-flex;
     align-items: center;
     text-decoration: none;
     color: #34396a;
     font-family: Sora;
     font-size: 1.2rem;
     font-style: normal;
     font-weight: 400;
     line-height: 1.2rem; /* 100% */
}
.service-card__button::after {
     display: inline-flex;
     content: url(/assets/img/ArrowUpRight.svg);
}
.service-infor {
     display: grid;
     grid-template-columns: auto 1fr auto;
}
.img--buttons {
     position: relative;
     display: block;
     color: #ff5b2e;
     text-align: center;
     font-family: Poppins;
     font-size: 1.6rem;
     margin-top: 50px;

     font-style: normal;
     background: #fff6ed;
     font-weight: 500;
     line-height: 1.6rem; /* 100% */
     width: 21.4rem;
     height: 5.6rem;
     flex-shrink: 0;
     border-radius: 3.1rem;
     border: 1px solid #ff5b2e;
     opacity: 0.6;
     margin-left: 110px;
}
.img__service {
     width: 44.7rem;
     height: 62.1rem;
     flex-shrink: 0;
}
.service__media {
     display: block;
     margin-left: 66px;
}
.img--buttons::after {
     content: "";
     position: absolute;
     height: 350px;
     width: 450px;

     left: -110px;
     right: 0;
     bottom: 106px;
     background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
     border-radius: 10px;
}
.img-haha {
     width: 450px;
     position: relative;
     z-index: 1;
}
